*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body{
    background-color: blueviolet;
   
}
/*Header part */

.logo{
    height: 30px;
    width: 117px;
    margin-right: 12vw;
}
.header{
    z-index: 1;
    height: 11vh;
    width: 100% ;
    background-color:#ffffff;
  
  


}
.head-words{
    font-weight: 600;
    

}
.signup-button{
    margin-right: 5vw;
    border-radius: 20px;
    padding: 1vh;
    background-color: #0070ba;
    border: none;
    color: #ffffff;
    font-size: 13px;
    padding-left: 4vh;
    padding-right: 4vh;
    font-weight: 700;


    
}
.signup-button:hover{
   
    background-color: #02387b;
  
    
}
.login-button{
    margin-right: 1vw;
    border-radius: 20px;
    padding: 1vh;
    color:  #0070ba;
    background-color: #ffffff;
    font-size: 13px;
    padding-left: 4vh;
    padding-right: 4vh;
    font-weight: 700;
    border-color: #0070ba ;
    

}
.login-button:hover{
    background-color: #0070ba ;
}

.home-page{
  
    width: 100%;
    background-color: #0a3c79;

    
}
.video{

    width: 100%;
   
}
.box{
    
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;

    color: #ffffff;
    background-color:#0a3c79;
    
}
.button-paypal{
    border-radius: 20px;
}
.overlay{
    padding-top: 5%;
    position: absolute;
    width: 100%;
    color: #ffffff;
   
    font-size: xx-large;
    font-weight: 600;
    
}

span{
    color: #02387b;
    font-weight: 600;
    font-size: small;
}

/*page one style */
.page-one{
    height: 60vh;
    padding: 6%;
    background-color: rgb(255, 255, 255);
    color: #ffffff;
}
.image-holder{
    
        height: 60vh;
      
        background-color: rgb(255, 255, 255);
        color: #ffffff;

}

.blue-text{
    font-size: xx-large;
    float: right;
    background-color: rgb(255, 255, 255);
    width: 70%;
    color: #00a8ea;
}
.blue-text-page2 {
    font-size: xx-large;
    float: right;
    background-color: #f3f5f5;
    width: 70%;
    color: #00a8ea;

}
.page-two{
    height: 60vh;
    padding: 6%;
    background-color: #f3f5f5;
    color: #ffffff;
}
.image-holder-page2{
    
    height: 60vh;
  
    background-color: #f3f5f5;
    color: #ffffff;
    

}
/*last page*/
.last-page{
    height: 50vh;
    padding: 6%;
    background-color: #f3f5f5;
   
}
.blue-text-LP{
    font-size: xx-large;
    background-color: #f3f5f5;
    width: 100%;
    color: #00a8ea;

}
.last-blueBox{
    padding-top: 5%;
    background-color: #00a8ea;
    width: 100%;
    color: #ffffff;
    padding-left: 20vw;
    padding-right: 20vw;
    padding-bottom: 10vw;
   
    font-size: xx-large;
    font-weight: 600;
    

}
.asos-icon{
    float: left; padding: 1%;
    margin-left: 27vw;
    padding-top: 2%;
}

.number {
    background: #ffffff;
    padding: 1%;
    font-family: PayPalSansSmall-Regular,Helvetica Neue,Arial,sans-serif;
    font-weight: 900;
    border-radius: 20px;
    margin-right: 5px;
    width: 4vw;
    height: 4vw;
    font-size: xx-large;
    float: left;
    text-align: center;
    overflow: hidden;
    

}
.span-num{
    
    font-size: xx-large;
}
.num-holder{
   
    height: 9vh;
    width: 100%;
    padding-left: 11vw;
}



@media  only screen and (max-width: 850px) {

    .asos-icon{
    float: left; padding: 1%;
    margin-left: 15vw;
    padding-top: 2%;
}

}
@media  only screen and (max-width: 650px) {

    .asos-icon{
    float: left; padding: 1%;
    margin-left: 8vw;
    padding-top: 2%;
}
.video{
    height: 29vh;
    width: 100%;
    margin-bottom: 3vh;
}
.overlay{
   padding-right: 8%;
}


.number {
    background: #ffffff;
    padding: 0vh;
    font-family: PayPalSansSmall-Regular,Helvetica Neue,Arial,sans-serif;
    font-weight: 900;
    border-radius: 20px;
    margin-right: 2px;
    width: 6vw;
    height: 9vw;
    font-size: xx-large;
    text-align: center;
    

}
.num-holder{
   
    height: 9vh;
    width: 100%;
    padding-left: 4vw;
}
.span-num{
    
    font-size: xx-large;
}



}

